rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Default deny
    match /{document=**} {
      allow read, write: if false;
    }

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read, get, create, update, delete: if isOwner(userId);

      match /scans/{scanId} {
        allow read, get, list, create, update, delete: if isOwner(userId);
      }
    }
  }
}
